.header {
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    margin-right: 1em;
}

nav a {
    font-weight: bold;
    font-size: 1em;
    color: black;
    background-color: white;
    padding: .5em 0;
    border-radius: 1.5em;
    position: relative;
}

.activeLink::after {
    content: "";
    position: absolute;
    left: 10%;
    bottom: .4em;
    background-color: var(--primary-color);
    height: 2px;
    border-radius: 2px;
    width: 80%;
}