<div class="product">
    <img src="{{product.url}}">
    <div class="productDetail">
        <p>{{product.name}}</p>
        <p>{{product.price}}</p>
        <label for="amount">Amount: </label>
        <input type="number" #amountSelector id="amount" value="{{product.amount}}" (change)="updateAmount(product, amountSelector.value)">
    </div>
</div>