<div id="search-component">
  <label for="search-box">Product Search</label>
  <input #searchBox id="search-box" (input)="search(searchBox.value)" />
  <ul class="search-result">
    <li *ngFor="let product of products$ | async" >
      <a routerLink="/product/{{product.id}}">
        {{product.name}}
      </a>
    </li>
  </ul>
</div>